body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    min-height: 100px; 
   
}

hr {
    border: 1px solid rgb(0, 0, 0);
}

h1 {
    font-family: sans-serif;
}

.about{
    position: absolute;
    padding: 0rem 10% 50rem;
    margin-left: 50px;
    
}
.row1, .row2, .row3, .row4 {
    font-size: 1.5rem;
    margin-bottom: 10rem;
    
}

.about h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.about-img, .about-img1, .about-img4{
    position: relative;
    width:10px;
    height:5px;
}

.about-img3{
    position: relative;
    width:10px;
    height:5px;
}

.foto1, .foto2, .foto4{ 
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 0;
    left: 100;
    
}
.foto1a, .foto2b{
    position: absolute;
    z-index: 2;
    width: 50%;
    right: 85%;
    top: 70px;
    
}

/* .about h2 span{
    color: var(--primary);
} */
.about .row1, 
.row2, 
.row3, 
.row4{
    display: flex;
    flex-wrap: wrap;
}


.about .row1 .about-img, 
/* .about .row3 .about-img3,  */
.about .row4 .about-img4{
    flex: 0 0 60rem;
    margin-top: 5rem;
}

.about .row3 .about-img3{
    flex: 500 250 0;
    margin: 0;
   
}

.about .row3{
    margin-top: 10rem;
    margin-bottom: 10rem;
    
}

.about .row2 .about-img1{
    flex: 0 0 60rem;
    margin-top: 0rem;
    margin-left: 50rem;
}

.about .row1 .about-img img, 
.about .row2 .about-img1 img, 
/* .about .row3 .about-img video,  */
.about .row4 .about-img4 img{
    width: 10%;
    height: 10rem;
    margin-top: 4rem;
    object-position: center;
}

.about .row3 .about-img3 video{
    width: 50%;
    height: 25rem;
    margin-top: 4rem;
}


.about .row1 .content, 
.about .row3 .content, 
.about .row4 .content{
    flex: 1 1 60rem;
    padding: 1 1rem;
    margin-right: 50px;
}
.about .row3 .content{
    flex: 1 1 60rem;
    padding: 1 1rem;
    margin-right: 50px;
}

.about .row2 .content{
    flex: 1 1 60rem;
    padding: 50 1rem;
    margin-left: 50px;
}

.about .row1 .content h3,  
.about .row3 .content h3, 
.about .row4 .content h3{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 12.5rem;
   

}
.about .row2 .content h3{
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
   
    
}
.about .row3 .content h3{
    font-size: 2.5rem;
    padding-bottom: 70px;
    margin: 10px;
    margin-left: 1rem;
    
}

.about .row1 .content p,
.about .row3 .content p,
.about .row4 .content p{
    position: relative;
    margin-left: 200px;
    margin-right: 300px;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 1;
    line-height: 1.5;
    text-align: justify;
}

.about .row2 .content p{
    position: relative;
    margin-left: 10px;
    margin-right: 420px;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 1;
    line-height: 1.5;
    text-align: justify;
}

    



/* .about .row .about-img img{
    height: 24rem;
    object-position: center;
    /* objek fit cover untuk menyesuaikan layar 
    ketika layar diperbesar atau di perkecil */
/* } */

/* .about .row .content {
    padding: 0;
}

.about .row .content p{
    font-size : 1.9rem;
} */






