body{
    font-family: 'Quicksand', sans-serif;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    min-height: 100px;
}

hr {
    border: 1px solid rgb(0, 0, 0);
}

h1 {
    font-family: sans-serif;
}

.about{
    position: absolute;
    padding: 0rem 10% 80rem;
    margin-left: 100px;
    
}
.row, .row1, .row3, .row4 {
    font-size: 2.6rem;
    margin-bottom: 20rem;
    
}

.about h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 4rem;
}
.about-img, .about-img1, .about-img4{
    position: relative;
    width:200px;
    height:200px;
}
.foto1, .foto2, .foto4{ 
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}
.foto1a, .foto2b{
    position: absolute;
    z-index: 2;
    width: 100%;
    right: 55%;
    top: 100px;
    
}

/* .about h2 span{
    color: var(--primary);
} */
.about .row, .row1, .row3, .row4{
    display: flex;
    flex-wrap: wrap;
}


.about .row .about-img, .about .row3, .about .row4 .about-img4{
    flex: 0 0 60rem;
    margin-top: 5rem;
}
.about .row1 .about-img1{
    flex: 0 0 60rem;
    margin-top: 5rem;
    margin-left: 10rem;
}

.about .row .about-img img, .about .row1 .about-img1 img, .about .row3 .about-img img, .about .row4 .about-img4 img{
    width: 30%;
    height: 23rem;
    object-position: center;
}

.about .row .content, .about .row3 .content, .about .row4 .content{
    flex: 1 1 35rem;
    padding: 1 1rem;
    margin-right: 300px;
}

.about .row1 .content{
    flex: 1 1 35rem;
    padding: 1 1rem;
    margin-right: 100px;
}

.about .row .content h3, .about .row1 .content h3, .about .row3 .content h3, .about .row4 .content h3{
    font-size: 1.8rem;
    margin-top: 5rem;
    margin-bottom: 0rem;
}

.about .row .content p, .about .row1 .content p, .about .row3 .content p, .about .row4 .content p{
    position: relative;
    margin-left: 1px;
    margin-bottom: 5rem;
    font-size: 1.9rem;
    font-weight: 5;
    line-height: 1.5;
}


/* .about .row .about-img img{
    height: 24rem;
    object-position: center;
    /* objek fit cover untuk menyesuaikan layar 
    ketika layar diperbesar atau di perkecil */
/* } */

/* .about .row .content {
    padding: 0;
}

.about .row .content p{
    font-size : 1.9rem;
} */






